.jumbotron 
{background-color: yellow;
	color: black;
margin-top: -30px;
margin: 2px

 }

body {background: white;}

footer 
{background-color: red;
	color: yellow;
margin-top: 0px
}

}
	.btn {

		color: black
		background: yellow;}


.card-body {
	padding: 10px -10px 15px;
	margin top: 220px;
}

	}

	head 
	{  color: black;  }

	h3 
	{color: gray}

	h4 
	{color: gray}

button.btn {
	padding: 5px 7px 5px;
	
	margin-bottom: 0px;
padding: 3px 20px 3px 20px
}


.btn-reserva {
	width: 100%;
	border-radius: 0px;
}



	.card-hotel {
		flex: 1 200px;
		margin-top: 10px;
		
	}
.btn-warning {
	width: 100px;
	position: absolute;

}





q {color: black}


p {color: red }


.btn-reserva {
	width: 100%
	border-radius: 0px;
}
.card.p-3 {	background-color: black;

}

.blockquote {
	background-color: 
}


a {color: black}

.tab-content {

	padding-top: 10px;
}

button.btn {
	padding: 5px 5px 5px 5px
	
}
div.col-sm-4 { padding: 15px 15px

}
