.jumbotron {
  background-color: #f6f7be;
  color: #2c2930;
  margin-top: 50px;
  margin-bottom: 0px; }

body {
  background: #dcdec5; }

footer {
  background-color: #este;
  color: yellow;
  margin-top: 30px;
  margin-bottom: 0px; }

.btn {
  color: black; }

.card-body {
  padding: 10px -10px 15px; }

head {
  color: black; }

h3 {
  color: gray; }

h4 {
  color: gray; }

button.btn {
  padding: 5px 7px 5px;
  margin-bottom: 0px;
  padding: 3px 20px 3px 20px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px; }

.btn-warning {
  width: 100px;
  position: absolute; }

q {
  color: black; }

p {
  color: #608de0; }

.btn-reserva {
  width: 100%; }

.card.p-3 {
  background-color: black; }

a {
  color: black; }

.tab-content {
  padding-top: 10px; }

button.btn {
  padding: 5px 5px 5px 5px; }

div.col-sm-4 {
  padding: 15px 15px; }
